div.date-time-picker{
    display: flex;
}
div.result-wrapper{
    background-color: black;
    width: 100vw;
}
div.widget-container{
    display: grid;
    justify-items: center;          
    align-items: center;    
    grid-template-areas:             
    "last-week-widget this-week-widget"            
    "last-week-widget this-week-widget" ;       
}

div.last-week-widget{
    grid-area: last-week-widget;
}

div.this-week-widget{
        grid-area: this-week-widget;
}